global:
  resolve_timeout: 5m

route:
  receiver: "slack-notifications"
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h

receivers:
  - name: "slack-notifications"
    slack_configs:
      - api_url: "${SLACK_WEBHOOK_URL}"
        channel: "#new-channel"
        send_resolved: true
