apiVersion: v1
kind: Service
metadata:
  name: db
spec:
  type: {{ .Values.service.type }}
  selector:
    app: db
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
